

.container{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container2{
    height: 40vh;
    background-color: rgb(137, 241, 219);
}
.modal{
    margin-top: 2rem;
    width: 25rem;
    height: 55vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: pink;
    position: relative;
    display: none;
    position: absolute; 
    top: 5rem;
    left: 25rem;
    

}
.parent1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 45vh;

}
#fr{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 45vh;
    border-radius: 7px;
    gap: 10px;
}
#fr input{
    border-radius: 10px;
    height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#close{
    position: absolute;
    right: 10px;
    top: 15px;
}
body{
    position: relative;
}
.fils2{
    background-color: rgb(227, 240, 252);
    
}